/.claude/settings.local.json
/backend/target/
/frontend/.next/
/frontend/node_modules/
/frontend/*.tsbuildinfo
/python-worker/.pytest_cache/
/python-worker/**/__pycache__/
/python-worker/src/*.egg-info/
